html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif; /* Apply a user-friendly font */
    background-color: lightgrey; /* Background color */
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: pink; /* Container background color */
    border: 1px solid black;
    border-radius: 6px;
    padding: 20px;
    max-width: 400px; /* Adjust the max width as desired */
  }

  .input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }

  .input-group label {
    margin-bottom: 5px;
  }

  .input-group input[type="text"],
  button {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #d1d5da;
    border-radius: 6px;
  }

  .replace-button {
    margin-bottom: 10px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }

  .copy-button {
    color: #fff;
    background-color: #0366d6;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }

  .alert-message {
    margin-top: 10px;
    color: #586069;
    font-size: 14px;
  }

  audio {
    margin-top: 20px;
    width: 100%;
  }